@model BBMS.Models.BloodRequest

@{
    ViewData["Title"] = "Delete";
    Layout = ViewData["Layout"]?.ToString();
}

<div class="container-xl px-4 mt-4">
    <div class="col-xl-8">
        <div class="card mb-4">
            <div class="card-header">Are you sure you want to delete this?</div>
            <div class="card-body">
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">
                            @Html.DisplayNameFor(model => model.PatientName)
                        </label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.PatientName)" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1">
                            @Html.DisplayNameFor(model => model.PatientAge)
                        </label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.PatientAge)" disabled />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="small mb-1">
                        @Html.DisplayNameFor(model => model.RequestInfo)
                    </label>
                    <input class="form-control" value="@Html.DisplayFor(model => model.RequestInfo)" disabled />
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">
                            @Html.DisplayNameFor(model => model.PatientHospital)
                        </label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.PatientHospital)" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1">
                            @Html.DisplayNameFor(model => model.BloodType)
                        </label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.BloodType)" disabled />
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">
                            @Html.DisplayNameFor(model => model.UnitNo)
                        </label>
                        <input class="form-control" value=" @Html.DisplayFor(model => model.UnitNo)" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1">
                            @Html.DisplayNameFor(model => model.Status)
                        </label>
                        <input class="form-control" value=" @Html.DisplayFor(model => model.Status)" disabled />
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">
                            @Html.DisplayNameFor(model => model.RequestDate)
                        </label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.RequestDate)" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1">
                            @Html.DisplayNameFor(model => model.Physician)
                        </label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.Physician.Id)" disabled />
                    </div>
                </div>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    body {
        margin-top: 20px;
        background-color: #f2f6fc;
        color: #69707a;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>